
GtkButton, GtkSpinButton {
    border-color: black;
    border-radius: 5px;
    color: white;
    background: linear-gradient(gray, black);
}

GtkTextView {
    border-color: black;
    border-radius: 10px;
    color: white;
    background-color: gray;
}

GtkViewport#main {
	background-image: url("data/bg.png");
}

GtkViewport#monster{
	background-image: url("data/bg_monster.png");
}

GtkLabel{
	color: white;
}

GtkScrolledWindow {
    border-radius: 10px;
}

GtkStatusbar, GtkNotebook, GtkMenubar{
    background-color: black;
    color: white;
    border: none;
}